html
    head
        link(href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet")
        link(href="/css/error.css", rel="stylesheet")
    body
        div(id="outta")
            h1(id="error") #{error}
            a(href="javascript:history.back()" id="link") ➥ Back