
html
    body(style="margin: 0;")
        div(id="div" style='height: 100%; width: 100%; position: absolute; top: 0; left: 0; background: ' + background_color)
            canvas(id="canvas" style="background: " + background_color)
            info(color_to_use=background_color)
            script(src="js/dots.js")
