.un, .un:after, .un:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.un {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}

h2 {
  width: 100vw;
  min-height: 200px;
  line-height: 200px;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  position: absolute;
  margin: 3rem auto 0;
}

h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: white;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

h2>a:hover:before,
h2>a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

@keyframes hover-v {
  0% {
    transform: scaleX(0);
    height: 5px;
  }

  45% {
    transform: scaleX(1.05);
    height: 5px;
  }

  55% {
    height: 5px;
  }

  100% {
    transform: scaleX(1.05);
    height: 3.8rem;
  }
}

@keyframes no-hover-v {
  0% {
    transform: scaleX(1.05);
    height: 3.8rem;
  }

  45% {
    height: 5px;
  }

  55% {
    transform: scaleX(1.05);
    height: 5px;
    opacity: 1;
  }

  100% {
    transform: scaleX(0);
    height: 5px;
    opacity: .02;
  }
}
